#animation {
	padding:10em;
}

.red {
	width:200px;
	height:200px;
	background-color: red;

	animation: rotate 3s;
	transition-property: transform;
	animation-iteration-count:infinite;

}

.blue {
	width:200px;
	height:200px;
	background-color: blue;
	margin-top: 4em;

	animation: colour-change 3s;
	animation: scale 3s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
}

.yellow {
	width:200px;
	height:50px;
	background-color: yellow;
	margin-top: 4em;

	animation: backnforth 3s;
	animation-iteration-count:infinite;
	transition-timing-function: ease-in-out;
}

    @keyframes rotate { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }

    @keyframes scale{ 
        from { 
            transform: scale(0.5); 
        } to { 
            transform: scale(1.3); 
        }
    }

    @keyframes colour-change {

	  0% {
	    background: blue;
	  }

	  100% {
	    background: purple;
	  }
}

	@keyframes backnforth {
		0% {
		transform: scaleX(0);
		}

		100% {
		transform: scaleX(12);

		}
	}






